@import "../../assets/scss/theme.scss";

.remove-scroll {
  overflow: hidden !important;
}

.loader-container {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #524e4ebf;
  z-index: 99;
  text-align: center;
  .loader {
    position: absolute;
    top: 30%;
    left: 52%;
    margin-left: auto;
    margin-top: auto;
    z-index: 100;
    // color: #279599;
  }
  .text1 {
    margin-top: 180px;
    margin-left: -120px;
    width: 240px;
    color: #ffff;
    opacity: 1;
    // text-shadow: 2px 2px #008080;

    text-shadow: 5px;
    // font-size: 20px;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
  }
  .text2 {
    margin-top: 110px;
    margin-left: 20px;
    width: 240px;
    color: #ffff;
    opacity: 1;
    // text-shadow: 2px 2px #008080;

    text-shadow: 5px;
    // font-size: 20px;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
  }

  svg {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }
  img {
    position: absolute;
    height: 240px;
    width: 240px;
    justify-self: center;
    align-items: center;
    // top: 100px;
    left: -120px;
    z-index: 100000000000;
  }
}
@media (max-width: 720px) {
  .loader-container {
    overflow: hidden !important;
    position: fixed;
    .text2 {
      margin-top: 180px;
      margin-left: -120px;
      width: 240px;
      color: #ffff;
      opacity: 1;
      // text-shadow: 2px 2px #008080;

      text-shadow: 5px;
      // font-size: 20px;
      font-size: 17px;
      font-weight: bold;
      position: absolute;
    }
  }
}
