.modal-container {
  position: absolute;
  opacity: 1 !important;
  .modal-content {
    position: fixed;
    width: 30%;

    .pac-target-input:focus {
      border-color: var(--primary-green);
      /* outline-color: var(--primary-green); */
      border-radius: 8px;
    }

    .pac-target-input {
      border-color: var(--primary-green);
      /* outline-color: var(--primary-green); */
      border-radius: 8px;
      margin-top: 5px;
    }
    .body {
      .address-form {
        margin-top: 6rem;
      }
      .form-group {
        margin-top: 14px;
        border: 2px solid #7eb4ba;
        padding: 8px 0;
        border-radius: 8px;
        font-family: Source Serif;
        input {
          border: none;
          margin: auto 8px;
          height: 20px;
          width: 90%;
          outline: none !important;
          :focus {
            outline: none !important;
          }
        }
      }
      .action {
        margin-top: 16px;
        border-top: none;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
.modal-category {
 
  opacity: 1 !important;
  
  .modal-content {
    max-height: 50%;
    overflow-y: auto;
    position: absolute;
    border-radius: 16%;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.3rem;
    outline: 0;
    bottom: 90px;
  }
  /* total width */
  .modal-content::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
    scrollbar-width: 5px;
    // border-radius: 16px;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
  }
  
  /* background of the scrollbar except button or resizer */
  .modal-content::-webkit-scrollbar-track {
    background-color: #fff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

  }
  .modal-content::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
  
  }
  
  /* scrollbar itself */
  .modal-content::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
  }
  .modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
  }
  
  /* set button(top and bottom of the scrollbar) */
  .modal-content::-webkit-scrollbar-button {
    display: none;
  }
  
}

@media (max-width:750px){
  .modal-container{
     .modal-content{
       width:97%
     }
  }
}