.container12 {
  background-color: #fff;
}

/* @media (max-width: 768px) {
  #main {
    display: none;
  }
  #content {
    margin-top: 10px;
  }
  #contain {
    margin-top: 20px;
  }
  #profile {
    padding-left: 0;
  }
} */
.x:hover {
  color: #279599;
}



.Order-No-123456-Delivery .text-style-1 {
  color: #279599;
}

.Rectangle-2 {
  width: 100%;
  height: 100%;
  margin: 1% 5% 1% 2%;
  padding: 1% 2% 3% 1%;
  border-radius: 9.1px;
  box-shadow: 5px 5px 5px 0 rgba(211, 211, 211, 0.3);
  border: solid 1px #b6b8ba;
  background-color: #ffffff;
}
.Rectangle-8 {
  width: 159.2px;
  height: 149.7px;
  margin: 1% 39.2px 41px 27.1px;
  padding: 39px 40.2px 37.9px 33.5px;
  opacity: 0.3;
  border-radius: 15px;
  background-color: #f3e7d9;
}

.Order-Details {
  width: 184px;
  height: 30px;
  margin: 22.3px 850.1px 24.2px 30.5px;
  font-family: NeueHaasUnica-Medium;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000000;
}




.Rectangle-9 {
  width: 153.3px;
  height: 157px;
}

.Rectangle-13 {
  width: 26px;
  height: 22px;
}



.text3 {
  font-size: 13px;
  font-family: NeueHaasUnica-Medium;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.2px;
  letter-spacing: normal;
  text-align: left;
  color: #6d6e71;
}

.text4 {
  font-family: NeueHaasUnica-Medium;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #279599;
}

table th td {
  border-style: hidden;
}
.modal-dialog {
  max-width: 410px !important;
  margin: 1.75rem auto;
}