:root {
  --teal: #279599;
  --tealLight: #279397;
  --white: #ffffff;
  --black: #000000;
  --dark: #231f20;
  --grey: #b4b6b8;
  --anchor: #414042;
  --lightGrey: #f5f5f6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* ------------------------------------------------------------------ HOME PAGE ------------------------------------------------------------------ */
#home-page section:not(.banner):not(.new-store) {
  /* padding: 0 calc(90 * 0.052vw); */
  padding: 0 calc(117 * 0.052vw);
}
.product-launch,
.social-impact,
.region,
.history,
.community-section,
#about-page .new-store {
  background-color: #dfefef;
}
.partner-trainings {
  background-color: #231f20;
  color: var(--white) !important;
}
.partner-trainings .section-heading {
  color: var(--white);
}
.partner-trainings .pt-body {
  padding-top: calc(32 * 0.052vw);
  font-size: calc(27 * 0.052vw);
}
#home-page section:not(.brand-value) .section-heading {
  position: relative;
  letter-spacing: 1.5px;
  padding-bottom: calc(70 * 0.052vw);
}
#home-page section:not(.brand-value) .section-heading::after,
#about-page .section-heading::after {
  content: "";
  position: absolute;
  width: calc(115 * 0.052vw);
  height: calc(10 * 0.052vw);
  background-color: #279296;
  left: 0;
  bottom: calc(55 * 0.052vw);
}
.banner {
  position: relative;
  width: 100%;
  height: calc(871 * 0.052vw);
  /* background-image: url(../image/banner.jpeg); */
  background-position: left 30%;
  background-size: cover;
}
.banner .hero-text {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  border-bottom-left-radius: calc(11 * 0.052vw);
  border-bottom-right-radius: calc(11 * 0.052vw);
  background-color: #0d7780;
  width: calc(664 * 0.052vw);
  color: var(--white);
  padding: calc(58.8 * 0.052vw) 0 calc(74.8 * 0.052vw) 0;
}
.banner .hero-text span {
  position: relative;
  font-size: calc(78 * 0.052vw);
}
.hero-text span::before,
.hero-text span::after {
  content: "";
  width: calc(307.4 * 0.052vw);
  height: calc(2.8 * 0.052vw);
  background-color: var(--white);
  position: absolute;
}
.hero-text span::before {
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.hero-text span::after {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.banner .plain-text {
  position: absolute;
  bottom: calc(-44 * 0.052vw);
  z-index: 1;
  font-size: calc(36 * 0.052vw);
  text-align: center;
  color: var(--teal);
  padding: calc(24 * 0.052vw) 0;
  border-radius: calc(6.5 * 0.052vw);
  background-color: #dfefef;
  width: calc(1300 * 0.052vw);
  left: 50%;
  transform: translate(-50%, 0);
}
.serve-customer {
  padding-bottom: calc(112 * 0.052vw) !important;
}
.row-1 {
  display: flex;
  /* background-image: url(../image/Cover.jpg); */
  height: calc(674 * 0.052vw);
  justify-content: flex-end;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row-2 {
  padding-top: calc(30 * 0.052vw);
  gap: calc(15 * 0.052vw);
  flex-wrap: nowrap;
}
.img-content {
  min-width: calc(400 * 0.052vw);
  max-width: calc(400 * 0.052vw);
}
.right-content {
  width: calc(calc(472.5 * 0.052vw) - calc(42.7 * 0.052vw));
  background-color: #f7f1ea;
  padding: calc(117 * 0.052vw) calc(75 * 0.052vw) calc(64 * 0.052vw)
    calc(42.5 * 0.052vw);
}
.right-content .btn-order {
  border-color: var(--dark);
}
.content-title {
  font-size: calc(32 * 0.052vw);
  color: var(--black);
}
.content-body {
  font-size: calc(27 * 0.052vw);
  color: var(--dark);
  padding: calc(10 * 0.052vw) 0 calc(25 * 0.052vw) 0;
}
.new-product-body div {
  font-size: calc(32 * 0.052vw);
  color: var(--anchor);
  padding: calc(36 * 0.052vw) 0 calc(26 * 0.052vw) 0;
}
.new-product-body p {
  font-size: calc(27 * 0.052vw);
  color: var(--anchor);
}
.brand-value div.section-heading + p {
  font-size: calc(28 * 0.052vw);
  padding: 0 calc(250 * 0.052vw);
}
.brand-value {
  padding-bottom: calc(107 * 0.052vw) !important;
  /* background-image: url(../image/Icons-01.svg), url(../image/Icons-03.svg); */
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: 25%;
}
.brand-value .row {
  padding: 0 calc(85 * 0.052vw);
}
.brand-value-head {
  font-size: calc(36 * 0.052vw);
  padding-bottom: calc(35 * 0.052vw);
  color: var(--dark);
}
.brand-value-head + div {
  font-size: calc(28 * 0.052vw);
  color: var(--dark);
  width: calc(422 * 0.052vw);
  margin: 0 auto;
}
.serve-customer .section-heading {
  padding-top: calc(120 * 0.052vw);
}

.new-store > .section-heading {
  padding-left: calc(117 * 0.052vw) !important;
}
.new-store > .section-heading::after {
  left: calc(117 * 0.052vw) !important;
}
.content-slider {
  gap: calc(66 * 0.052vw);
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  padding: calc(25 * 0.052vw) 0 calc(150 * 0.052vw) 0;
}
#newStoreCarousel {
  width: calc(1142 * 0.052vw);
  /* height: calc(857 * 0.052vw); */
}
.content-slider .first-div {
  /* background-image: url(../image/slide-1.jpg); */
  background-size: cover;
}
.content-slider .last-div {
  /* background-image: url(../image/slide-3.jpg); */
  background-position: left;
  background-size: cover;
}
.custom-carousel-caption {
  position: absolute;
  color: var(--white);
  z-index: 10;
  bottom: 0;
  padding: 0 calc(30 * 0.052vw) calc(30 * 0.052vw);
}
.custom-carousel-caption h5 {
  font-size: calc(37 * 0.052vw);
}
.custom-carousel-caption h5 span {
  font-size: calc(30 * 0.052vw);
}
.custom-carousel-caption p {
  font-size: calc(23 * 0.052vw);
}
.custom-carousel-indicators {
  position: absolute;
  left: 50%;
  bottom: calc(-75 * 0.052vw);
  z-index: 10;
  transform: translate(-50%, 50%);
}
.custom-carousel-indicators span {
  display: inline-block;
  height: calc(22 * 0.052vw);
  width: calc(22 * 0.052vw);
  background-color: #d1d3d4;
  border-radius: 50%;
  margin: 0 calc(11.5 * 0.052vw);
}
.custom-carousel-indicators .active {
  background-color: var(--tealLight);
}
.social-impact .row {
  align-items: flex-start;
}
.social-impact-1:not(:last-child) {
  /* padding-bottom: calc(40 * 0.052vw); */
}
.social-impact-1:first-child {
  margin-top: calc(-60 * 0.052vw);
}
.social-head {
  display: flex;
  align-items: center;
  gap: calc(25 * 0.052vw);
  /* padding-bottom: calc(30 * 0.052vw); */
  margin-left: calc(-35 * 0.052vw);
}
.social-head div:first-child {
  width: calc(150 * 0.052vw);
}
.social-head div + div {
  font-size: calc(42 * 0.052vw);
  color: var(--black);
}
.social-body {
  font-size: calc(29 * 0.052vw);
  color: var(--dark);
}
.product-launch {
  padding-bottom: calc(118 * 0.052vw) !important ;
}
.partner-trainings {
  padding-bottom: calc(153 * 0.052vw) !important ;
}
.social-impact {
  padding-bottom: calc(200 * 0.052vw) !important ;
}
/* ------------------------------------------------------------------ SHOP ------------------------------------------------------------------ */
.best-sellers {
  background-color: #f3e6d9;
  padding: 0 calc(117 * 0.052vw) calc(95 * 0.052vw) calc(117 * 0.052vw);
}
/* .section-heading {
    font-size: calc(48 * 0.052vw);
    font-weight: 500;
    color: var(--dark);
    padding: calc(62 * 0.052vw) 0 calc(36 * 0.052vw) 0;
  } */

/* .best-sellers div {
    display: flex;
    justify-content: space-between;
  } */
.discount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: calc(48 * 0.052vw);
  font-weight: 800;
  text-shadow: 7px 7px 5px rgb(99 99 99 / 60%);
  line-height: 1;
}
.category {
  background-color: var(--lightGrey);
  position: relative;
}
.lk-cat-left {
  font-size: calc(36 * 0.052vw);
  color: var(--teal);
  /* line-height: 1.2; */
  letter-spacing: 1.5px;
}
.lk-cat-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lk-left {
  font-size: calc(36 * 0.052vw);
  color: var(--dark);
  line-height: 1.2;
  letter-spacing: 1.8px;
}
.lk-right {
  display: flex;
  padding-right: calc(50 * 0.052vw);
}
.search {
  position: relative;
  margin-right: calc(50 * 0.052vw);
}
.search input {
  width: calc(366 * 0.052vw);
  height: calc(55 * 0.052vw);
  border-radius: calc(9 * 0.052vw);
  border: solid 0.8px var(--grey);
  outline: none;
  padding-left: calc(16 * 0.052vw);
  font-size: calc(28 * 0.052vw);
}
.search ~ div {
  width: calc(60 * 0.052vw);
  height: calc(55 * 0.052vw);
  background: white;
  border-radius: calc(9 * 0.052vw);
  border: solid 0.8px var(--grey);
  padding: calc(8 * 0.052vw);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.search img {
  position: absolute;
  top: 50%;
  right: calc(8 * 0.052vw);
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 1;
}
.filter {
  position: relative;
}
.filter-body {
  position: absolute;
  top: calc(100 * 0.052vw);
  right: calc(-50 * 0.052vw);
  width: calc(459 * 0.052vw);
  /* height: calc(300 * 0.052vw); */
  background-color: var(--white);
  border: solid 2px var(--teal);
  border-radius: calc(9 * 0.052vw);
  z-index: 1;
}
.filter-body::before {
  content: "";
  height: calc(32 * 0.052vw);
  width: calc(32 * 0.052vw);
  background-color: var(--white);
  border: solid 2px var(--teal);
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  right: 14%;
  top: calc(-17 * 0.052vw);
  transform: rotate(51deg) skew(10deg);
}
.food-type {
  padding: calc(16 * 0.052vw) calc(48 * 0.052vw);
  display: flex;
  justify-content: space-between;
  gap: calc(16 * 0.052vw);
}
.food-type div {
  flex-grow: 1;
}
.separator {
  height: 2px;
  background-color: var(--grey);
  margin: 0 calc(48 * 0.052vw);
}
.custom-checkbox span:not(.checkmark) {
  margin-right: calc(8 * 0.052vw);
  margin-left: calc(-4 * 0.052vw);
}
/* .custom-checkbox span img {
    height: calc(35 * 0.052vw);
    width: calc(35 * 0.052vw);
  } */
.price-range {
  padding: calc(16 * 0.052vw) calc(48 * 0.052vw);
}
.price-range h4 {
  font-size: calc(24 * 0.052vw);
  color: var(--dark);
}
.price-range-slider {
  margin-top: calc(45 * 0.052vw);
  height: 3px;
  width: 100%;
  background-color: var(--teal);
  position: relative;
}
.price-range-slider::after,
.price-range-slider::before {
  content: "";
  height: calc(18 * 0.052vw);
  width: calc(18 * 0.052vw);
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--tealLight);
  position: absolute;
  top: calc(-7.5 * 0.052vw);
  cursor: pointer;
}
.price-range-slider::after {
  right: 0;
}
.price-range-slider::before {
  left: 0;
}
.price-indicators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(16 * 0.052vw);
  color: #9fa1a4;
  letter-spacing: 0.8px;
  margin-top: calc(20 * 0.052vw);
}
.button-group {
  display: flex;
  justify-content: space-between;
  padding: calc(16 * 0.052vw) calc(48 * 0.052vw);
}
.button-group button {
  width: calc(165 * 0.052vw);
  border-radius: calc(7.7 * 0.052vw);
  padding: calc(9 * 0.052vw) calc(30 * 0.052vw);
}
.btn-clear {
  color: var(--teal);
}
.btn-apply {
  color: var(--white);
  background-color: var(--teal);
}
.btn-clear,
.btn-apply {
  font-size: calc(18.4 * 0.052vw);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.92px;
  border: solid 2px var(--teal);
}
.discounted {
  position: absolute;
  top: calc(20 * 0.052vw);
  left: 0;
  background-color: #dc492f;
  font-size: calc(31 * 0.052vw);
  color: var(--white);
  line-height: 1.64;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0 calc(16 * 0.052vw);
}
.discounted span {
  font-size: calc(23 * 0.052vw);
}
section.category:before {
  content: "";
  width: 100%;
  height: 55%;
  background-color: var(--teal);
  opacity: 0.15;
  position: absolute;
  top: 24%;
  transform: skew(0, -9deg);
}
.category > div {
  padding: 0 calc(117 * 0.052vw) calc(90 * 0.052vw) calc(117 * 0.052vw);
}
.category-heading {
  border-bottom: solid 0.8px var(--grey);
  padding: calc(20 * 0.052vw) 0;
}

.lklk {
  padding-top: calc(30 * 0.052vw);
}
.lklk ul {
  list-style: none;
  padding-inline-start: 0;
  line-height: 2.61;
  letter-spacing: 0.7px;
  color: var(--dark);
}
.product-cat span {
  font-size: calc(28 * 0.052vw);
  cursor: pointer;
  padding-bottom: 4px;
  position: relative;
}
.active-cat span {
  border-bottom: solid 3px var(--teal);
}
/* ----------------------------------------------------------------PRODUCT DETAILS---------------------------------------------------------------- */
.product-info {
  background-color: var(--lightGrey);
  position: relative;
}
section.product-info::before {
  content: "";
  width: 100%;
  height: 38%;
  background-color: var(--teal);
  opacity: 0.15;
  position: absolute;
  top: 42%;
  transform: skew(0, -9deg);
}
.product-info-details {
  padding: calc(100 * 0.052vw) calc(117 * 0.052vw) calc(90 * 0.052vw)
    calc(117 * 0.052vw);
}
.product-details {
  background-color: var(--white);
  position: relative;
  z-index: 1;
  border-radius: calc(21.4 * 0.052vw);
  padding: calc(80 * 0.052vw) calc(50 * 0.052vw) calc(90 * 0.052vw)
    calc(50 * 0.052vw);
}
.product-view {
  padding-right: calc(30 * 0.052vw);
}
.enlarge-view img {
  border-radius: calc(10.6 * 0.052vw);
  box-shadow: 1px 1px 5px #eee;
}
.enlarge-view .discounted {
  font-size: calc(45 * 0.052vw);
  padding: 0 calc(30 * 0.052vw);
}
.enlarge-view .discounted span {
  font-size: calc(35 * 0.052vw);
}
.thumbnail-view {
  display: flex;
  gap: calc(32 * 0.052vw);
  overflow-x: auto;
  padding: calc(30 * 0.052vw) 0;
}
.thumbnail-view img {
  width: calc(164 * 0.052vw);
  border-radius: calc(10.6 * 0.052vw);
  box-shadow: 1px 1px 5px #eee;
}
.product-head {
  border-bottom: solid 1px #b4b6b8;
  padding-bottom: calc(50 * 0.052vw);
}
.product-name {
  font-size: calc(52.3 * 0.052vw);
  color: var(--black);
}
.product-price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.current-price {
  font-size: calc(40 * 0.052vw);
  color: var(--teal);
}
.previous-price {
  font-size: calc(29.5 * 0.052vw);
  color: #808083;
  text-decoration: line-through;
}
.product-body {
  font-size: calc(24 * 0.052vw);
  color: var(--dark);
  padding-top: calc(30 * 0.052vw);
}
.product-footer {
}
.product-qty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-qty div:first-child {
  font-size: calc(40.7 * 0.052vw);
  margin-right: calc(30 * 0.052vw);
}
.product-qty div span {
  border: 1.5px solid var(--teal);
  color: var(--teal);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(60 * 0.052vw);
  width: calc(66 * 0.052vw);
  font-size: calc(30 * 0.052vw);
}
.product-qty div span:nth-child(2) {
  color: var(--black);
  width: calc(80 * 0.052vw);
}
.product-qty div span:first-child {
  cursor: pointer;
  border-top-left-radius: calc(11 * 0.052vw);
  border-bottom-left-radius: calc(11 * 0.052vw);
}
.product-qty div span:last-child {
  cursor: pointer;
  border-top-right-radius: calc(11 * 0.052vw);
  border-bottom-right-radius: calc(11 * 0.052vw);
}

.product-footer-btn-group {
  padding-top: calc(80 * 0.052vw);
}
.product-footer-btn-group button {
  font-size: calc(34 * 0.052vw);
  padding: calc(17 * 0.052vw) calc(64 * 0.052vw);
  border-radius: calc(7.7 * 0.052vw);
}
.frequently-purchased {
  background-color: #f5ece2;
  padding: 0 calc(75 * 0.052vw) calc(50 * 0.052vw) calc(75 * 0.052vw);
  position: relative;
  z-index: 1;
  border-radius: calc(21.4 * 0.052vw);
  /* background-image: url(../image/BG-01.png); */
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
}
#testimonial .carousel-item {
  background-color: var(--white);
  border-radius: calc(21.4 * 0.052vw);
  padding: calc(60 * 0.052vw) calc(75 * 0.052vw);
}
.client-name {
  font-size: calc(37 * 0.052vw);
  color: var(--black);
}
.client-say {
  font-size: calc(28 * 0.052vw);
  color: var(--black);
  letter-spacing: 0.7px;
}
#testimonial .carousel-item {
  /* background-image: url(../image/Story-of-chai.png); */
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(80 * 0.052vw);
  padding-bottom: calc(90 * 0.052vw);
}
/* -------------------------------BLOG STYLES------------------------------- */
#blog-page .banner {
  /* background-image: url(../image/slide-3.jpg); */
  background-position: center;
}
.banner .plain-text.blog {
  background-color: var(--white);
  font-size: calc(46.6 * 0.052vw);
  bottom: calc(-80 * 0.052vw);
}
.banner .plain-text.blog span {
  font-size: calc(80 * 0.052vw);
}
.blog-section {
  background-color: #dfefef;
}
.navigation {
  margin: 0 calc(75 * 0.052vw);
  padding: calc(110 * 0.052vw) calc(31.1 * 0.052vw) calc(21.5 * 0.052vw);
  border-bottom: solid 1.5px #b6b8ba;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation span {
  font-size: calc(40 * 0.052vw);
  font-weight: 500;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-wrapper {
  padding: calc(80 * 0.052vw) calc(85 * 0.052vw) calc(100 * 0.052vw);
}
.blog-wrapper .col-md-6:nth-child(odd) {
  padding-right: calc(25 * 0.052vw);
}
.blog-wrapper .col-md-6:nth-child(even) {
  padding-left: calc(25 * 0.052vw);
}
.blog-card {
  border-radius: calc(9.4 * 0.052vw);
  background-color: var(--white);
  box-shadow: 0 0 5px 2px #ccc;
  margin-bottom: calc(60 * 0.052vw);
}
.blog-card-head {
  border-top-left-radius: calc(9.4 * 0.052vw);
  border-top-right-radius: calc(9.4 * 0.052vw);
  height: calc(413 * 0.052vw);
  background-repeat: no-repeat;
  background-size: cover;
}
.col-md-6:nth-child(odd) .blog-card-head {
  /* background-image: url(../image/vendingMachine.jpeg); */
  background-position: center 40%;
}
.col-md-6:nth-child(even) .blog-card-head {
  /* background-image: url(../image/blog.png); */
  background-position: center 0;
}
.blog-card-body {
  padding: calc(50 * 0.052vw) calc(48 * 0.052vw) calc(35 * 0.052vw);
}
.blog-info ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  color: #939598;
  font-size: calc(29 * 0.052vw);
}
.blog-info ul li:not(:last-child)::after {
  content: "|";
  padding: 0 calc(8 * 0.052vw);
}
.blog-title {
  font-size: calc(38 * 0.052vw);
  line-height: 1.47;
  font-weight: 500;
  padding: calc(10 * 0.052vw) 0;
}
.blog-content {
  color: #939598;
  font-size: calc(24 * 0.052vw);
  line-height: 1.58;
}
.tags {
  padding-top: calc(20 * 0.052vw);
  display: flex;
  align-items: center;
  gap: calc(21 * 0.052vw);
}
.tags div {
  font-size: calc(24 * 0.052vw);
  padding: calc(4.21 * 0.052vw) calc(44.35 * 0.052vw);
  border-radius: calc(23 * 0.052vw);
  background-color: #f1f2f2;
  line-height: 1.58;
}
/* -------------------------------ARTICLES STYLES------------------------------- */
#article-page .banner {
  /* background-image: url(../image/blog.png); */
  background-position: unset;
}
.article-section {
  background-color: #dfefef;
  padding: 0 calc(134 * 0.052vw);
}
.blog-article {
  background-color: var(--white);
  padding: calc(50 * 0.052vw) calc(100 * 0.052vw) calc(100 * 0.052vw);
  position: relative;
  box-shadow: 0 0 3px 1px #ccc;
  top: calc(-100 * 0.052vw);
  border-radius: calc(19 * 0.052vw);
}
.blog-article hr {
  margin: calc(24 * 0.052vw) auto;
  border-top: calc(0.052vw) solid #ced0d1;
}
.article-title {
  font-size: calc(38 * 0.052vw);
  font-weight: 500;
  line-height: 1.47;
}
.article-sub-title {
  font-size: calc(34 * 0.052vw);
  line-height: 1.18;
  color: #939598;
  width: 90%;
  margin: calc(27 * 0.052vw) auto;
}
.article-info {
  font-size: calc(36 * 0.052vw);
  display: flex;
  justify-content: center;
  gap: calc(100 * 0.052vw);
  color: var(--dark);
}
.article-info span {
  display: block;
}
.article-info span i {
  color: var(--teal);
}
.article-body {
  font-size: calc(32 * 0.052vw);
  color: var(--dark);
  line-height: 1.25;
}
.article-body p:last-child {
  margin-bottom: 0;
}
/* -------------------PARTNERS----------------- */
#partner-page .banner {
  /* background-image: url(../image/slide-3.jpg); */
  background-position: center;
}
.partner-section,
.faq-section,
.contact-section {
  margin: 0 calc(134 * 0.052vw);
  border-radius: calc(19 * 0.052vw);
  padding-bottom: calc(100 * 0.052vw);
  background-color: var(--white);
  position: relative;
  top: calc(-110 * 0.052vw);
  box-shadow: 0 0 calc(50 * 0.052vw) 1px #ccc;
}
.partner-section div {
  font-size: calc(60 * 0.052vw);
  font-weight: 500;
  padding: calc(48.9 * 0.052vw);
  text-align: center;
}
/* ----------------------- FAQ -------------------- */
#faq-page .banner {
  /* background-image: url(../image/faq.png); */
  background-position: center;
}
.faq-section {
  padding-top: calc(48.9 * 0.052vw);
  padding-left: calc(100 * 0.052vw);
  padding-right: calc(100 * 0.052vw);
}
.faq-head {
  font-size: calc(60 * 0.052vw);
  font-weight: 500;
}
.que-and-ans {
  font-size: calc(32 * 0.052vw);
  margin-bottom: 2rem;
}
.que {
  color: var(--tealLight);
}
.ans {
  color: var(--dark);
}
/* ----------------------- CONTACT US -------------------- */
#contact-page .banner {
  /* background-image: url(../image/slide-3.jpg); */
  background-position: center;
}
.contact-row {
  padding-top: calc(77 * 0.052vw);
  padding-left: calc(100 * 0.052vw);
  padding-right: calc(100 * 0.052vw);
  padding-bottom: calc(100 * 0.052vw);
}
.contact-section {
  padding-bottom: 0;
}
.contact-head {
  font-size: calc(60 * 0.052vw);
  line-height: 1;
  margin-bottom: calc(20 * 0.052vw);
}
.contact-head + div {
  font-size: calc(25 * 0.052vw);
  line-height: 1.2;
}
#contact-page form {
  margin-top: calc(37.7 * 0.052vw);
}
.form-group {
  margin-bottom: calc(37.3 * 0.052vw);
}
.form-control {
  font-size: calc(27 * 0.052vw);
  padding-top: calc(16 * 0.052vw);
  padding-left: calc(40 * 0.052vw);
  padding-bottom: calc(23 * 0.052vw);
  border: 2px solid var(--tealLight);
  color: #909295;
}
.form-control:focus {
  border-color: var(--tealLight);
  box-shadow: none;
}
.head-office,
.region-head {
  font-size: calc(48 * 0.052vw);
}
.region-head {
  padding-top: calc(35 * 0.052vw);
  padding-bottom: calc(70 * 0.052vw);
}
.head-office {
  color: var(--tealLight);
  margin-top: calc(35 * 0.052vw);
  margin-bottom: calc(18.5 * 0.052vw);
}
.head-office ~ p {
  font-size: calc(28 * 0.052vw);
  line-height: 1.29;
  color: var(--dark);
}
.map {
  min-height: calc(555 * 0.052vw);
  background-color: var(--grey);
}
.region {
  padding-left: calc(100 * 0.052vw);
  padding-bottom: calc(95.5 * 0.052vw);
}
.sub-region-head {
  font-size: calc(36 * 0.052vw);
  color: var(--tealLight);
  margin-bottom: calc(18 * 0.052vw);
}
.sub-region-head ~ p {
  font-size: calc(28 * 0.052vw);
  line-height: 1.29;
  color: var(--dark);
}
.dummy {
  width: 100%;
  min-height: calc(90 * 0.052vw);
}
.region .col-md-4:not(:first-child) {
  border-left: 1px solid #414042;
  padding-left: calc(60 * 0.052vw);
}
.region .col-md-4:nth-last-child(3) {
  border: none;
  padding: unset;
}
#contact-page button {
  font-size: calc(30 * 0.052vw);
  padding: calc(18.44 * 0.052vw) calc(75 * 0.052vw);
  border-radius: calc(9 * 0.052vw);
}
/* ----------------------- ABOUT US -------------------- */
#about-page section:not(.banner):not(.new-store) {
  padding: 0 calc(117 * 0.052vw);
}
#about-page .section-heading {
  position: relative;
}
#about-page .section-heading::after {
  bottom: calc(30 * 0.052vw);
}
#about-page .banner {
  /* background-image: url(../image/about.jpeg); */
  background-position: center;
}
.section-sub-head {
  font-size: calc(42 * 0.052vw);
  color: var(--dark);
  margin-bottom: calc(43.2 * 0.052vw);
}
.section-sub-head + div {
  font-size: calc(29 * 0.052vw);
  color: var(--dark);
  height: calc(416 * 0.052vw);
  overflow-y: auto;
}
.founder-text {
  font-size: calc(29 * 0.052vw);
  color: var(--dark);
}
.history {
  padding-bottom: calc(137 * 0.052vw) !important;
}
.community-section,
.community-section .section-heading {
  padding-bottom: calc(80 * 0.052vw) !important;
}
.community-section .section-heading::after,
.founder-section .section-heading::after,
.serve-customer .section-heading::after {
  bottom: calc(75 * 0.052vw) !important;
}
/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: calc(20 * 0.052vw);
  position: relative;
}
.timeline:before {
  position: absolute;
  content: " ";
  background-color: #dc492f;
}
.timeline-horizontal:before {
  height: calc(3 * 0.052vw);
  left: calc(170 * 0.052vw);
  top: calc(100 * 0.052vw);
  width: 85%;
}
.timeline .timeline-item {
  margin-bottom: calc(20 * 0.052vw);
  position: relative;
}
.timeline-item:not(:last-child) .timeline-badge {
  width: calc(150 * 0.052vw);
  height: calc(150 * 0.052vw);
  border: 3px solid #dc492f;
  border-radius: 50%;
  background: #dfefef;
}
.timeline-item:last-child .timeline-badge {
  height: calc(100 * 0.052vw);
  width: calc(100 * 0.052vw);
}
.timeline-badge span {
  font-size: calc(40 * 0.052vw);
  color: #58595b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timeline-badge img {
  position: absolute;
  top: 5%;
  cursor: pointer;
}
.active .timeline-badge {
  background-color: #dc492f !important;
}
.active .timeline-badge span {
  color: #ffffff;
}
.timeline-horizontal {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-card {
  background-color: var(--white);
  border: 3px solid var(--tealLight);
  border-radius: calc(9 * 0.052vw);
  padding: calc(60 * 0.052vw);
  display: flex;
  justify-content: space-between;
  position: relative;
}
.time-card::before {
  content: "";
  height: calc(40 * 0.052vw);
  width: calc(40 * 0.052vw);
  background-color: var(--white);
  border: solid 3px var(--teal);
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  left: calc(48 * 0.052vw);
  top: calc(-20.5 * 0.052vw);
  transform: rotate(51deg) skew(10deg);
  border-radius: calc(5 * 0.052vw);
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-item div:first-child {
  width: calc(200 * 0.052vw);
}
.card-item div {
  font-size: calc(27 * 0.052vw);
  color: var(--dark);
}
.for-smaller-screen {
  display: none;
}
.divider {
  height: calc(2 * 0.052vw);
  background-color: #414042;
  margin: calc(100 * 00.052vw) calc(117 * 00.052vw) calc(75 * 00.052vw);
}
.founder-section {
  /* background: url(../image/founder-bg-1.svg); */
  background-position: 100% 5%;
  background-repeat: no-repeat;
  background-size: calc(450 * 00.052vw);
}
.founder-text {
  /* background: url(../image/founder-bg-2.svg); */
  background-position: 0% 85%;
  background-repeat: no-repeat;
  background-size: calc(500 * 00.052vw);
}
.founder-section .section-heading,
.serve-customer .section-heading {
  padding-bottom: calc(80 * 0.052vw) !important;
}
