.drawer-items .ant-drawer-body {
  padding: 0 !important;
}

.drawer-items .ant-drawer-header {
  background-color: #279296;
}

.drawer-items .ant-drawer-title {
  color: #ffff !important;
  font-family: "SourceSerifPro-Regular";
}

.drawer-items .menu-section {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  padding: 1.5em 0;
  border-bottom: 1px solid #e8e8e8;
}

.drawer-items .ant-drawer-header .anticon {
  color: #fff !important;
}

.menu-section > a {
  margin-left: 2em;
  font-family: "SourceSerifPro-Regular";
  font-size: 0.9em;
  text-align: left;
  color: #231f20;
}
