@media (max-width: 767px) {
  .account-data-details {
    padding: 0px;
  }

  .account-icon label {
    color: #939598;
  }

  .address-inside {
    margin-top: 10px;
  }
}

.checkout_bill-container__2oI8Y .checkout_item-total__XVC7M h4 {
  padding-left: 0px;
  font-family: SourceSerifPro-Regular;
  color: #6d6e71;
}
.checkout_bill-container__2oI8Y .checkout_taxes-bill__3EYRL h4 {
  padding-left: 0px;
  font-family: SourceSerifPro-Regular;
  color: #6d6e71;
}
.checkout_order-summary-container__HVWQ-
  .checkout_summary-body__1Co0U
  .checkout_loyalty-points__2hLhF
  span {
  font-size: 15px;
}
.checkout_delivery-container__2DdCm
  .checkout_delivery-title__3lkBe
  .checkout_heading__1pmT7 {
  color: #3d8f96 !important;
  font-family: NeueHaasUnica-Medium !important;
  font-size: 19px !important;
  font-weight: 500;
}
.checkout_delivery-container__2DdCm
  .checkout_list__11BFJ
  .checkout_add-box__2fFYH
  .checkout_text__2fctp {
  font-family: SourceSerifPro-Regular;
  font-size: 16px;
}
.checkout_delivery-container__2DdCm
  .checkout_list__11BFJ
  .checkout_add-box__2fFYH {
  padding: 20px;
  height: 60px;
  margin-left: 30px;
}
.checkout_order-summary-container__HVWQ- {
  float: left;
  margin-top: 20px;
}

.account-details {
  background-color: #fff;
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 3px 5px 0 rgb(0 0 0 / 19%);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  float: left;
}

.account-login {
  border: 2px solid #5aadb1;
  border-radius: 5px;
}

.account-icon span {
  color: #3d8f96 !important;
  font-weight: bold;
  font-size: 20px !important;
  font-family: NeueHaasUnica-Medium !important;
  font-weight: 500;
}
.log_user1 {
  list-style: none;
  font-weight: 400;
  margin-top: 0px;
  float: left;
  width: 100%;
  position: relative;
  top: -6px;
  padding-left: 42px;
  color: #3d8f96 !important;
  font-size: 20px !important;
  font-family: "Times New Roman";
  text-transform: capitalize;
}

.account-icon img {
  width: 40px;
}

.account-icon {
  width: 100%;
  float: left;
}

.account-icon label {
  color: #939598;
  width: 100%;
  float: left;
  position: relative;
  /*left: 60px;*/
  font-weight: 400;
  font-size: 12px;
  font-family: source serif;
}

.account-btn {
  position: relative;
  left: 60px;
  margin-top: 15px;
}

.account-notactive span {
  color: #939598;
}

.log_deliver {
  color: #241f20 !important;
}

.log_user {
  list-style: none;
  margin-top: 25px;
  float: left;
  width: 100%;
  position: relative;
  top: -6px;
}

.log_user li {
  float: left;
  padding: 0px 10px;
  color: #939394;
  font-size: 14px;
}

.log_user li:last-child {
  border-left: 2px solid #939394;
}

.deliver-active span {
  color: #241f20;
}

.added-address label {
  color: #5aadb1;
  padding-left: 25px;
  font-family: Neue Haas Unica;
  font-size: 14px;
}

.added-address ul {
  list-style: none;
  padding-left: 25px;
  color: #939394;
  font-family: "sans-serif";
}

.added-address ul li {
  font-family: "sans-serif";
  font-size: 15px;
}

.address-inside {
  border: 1px solid #e6e6e6;
  margin-left: 25px;
  padding: 10px 0px;
  border-radius: 05px;
}

.deliver-btn {
  margin-left: 25px;
  margin-top: 15px;
  background-color: #5aadb1;
  color: #fff;
  border-radius: 4px;
  font-family: Neue Haas Unica;
  font-size: 13px;
}

.address-plus i {
  color: #5aadb1;
  font-weight: 100;
  border: 1px solid #5aadb1;
  padding: 3px 5px;
  font-size: 12px;
}

.address-plus {
  padding: 10px;
}

.address-plus span {
  padding-left: 10px;
  color: #939394;
  font-family: "sans-serif";
}

/* .order-summary {
  background-color: #fff;
  border-radius: 05px;
} */

.order-data {
  border: none;
}

.order-summary {
  margin-top: 20px;
}

/* .order-summary .order-title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 10px;
} */

/* .order-summary .order-title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 10px;
} */

.cart-details {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px;
}

.col-xs-3.cart-d {
  padding: 0;
}

/*.cart-details .col-xs-12.np {
  padding: 0;
}*/

.np .col-xs-4 {
  padding: 9px;
  padding-top: 0;
}

.cart-details .np small {
  color: #5aadb1;
  font-size: 11px;
  font-family: Sourse serif;
  padding-left: 20px;
  width: 100%;
  padding-top: 6px;
  float: left;
}

.cart-details p {
  margin-bottom: 10px;
  color: #adafb1;
  text-transform: uppercase;
  font-family: Source serif;
  font-size: 10px;
}

.cart-details h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}

.cart-details .quantity-left-minus.btn.btn-danger.btn-number {
  padding: 6px;
  position: relative;
  top: 0px;
  padding: 6px 6px 10px 4px;
  outline: none;
  font-weight: 500;
  font-size: 12px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 25px;
  /* border: none; */
}

.cart-details .quantity-right-plus.btn.btn-success.btn-number {
  padding: 6px;
  padding: 4px 6px 10px 6px;
  top: 0;
  height: 29px;
  width: 24px;
  outline: none;
}

.cart-details #quantity {
  height: 29px;
  top: 0px;
  font-size: 13px;
  border-radius: 0 !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.col-xs-12.cart-subtotal {
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 22px;
}

.product-subtotal strong {
  font-size: 14px;
}
.checkout_delivery-container__2YGUu
  .checkout_delivery-title__1fO3P
  .checkout_heading__18Hlx {
  font-family: NeueHaasUnica-Medium !important;
}
.checkout_delivery-container__2YGUu
  .checkout_list__4iPpW
  .checkout_add-box__1OvPO
  .checkout_text__2eEUv {
  font-family: SourceSerifPro-Regular;
  font-size: 16px;
}

.preview-dropdown .cart-details {
  border: none;
  padding: 30px;
}

.seperate-order {
  border: 1px solid #e6e6e6;
  border-radius: 05px;
  margin: 5px 0px;
  padding: 15px 0 8px !important;
  width: 100%;
  float: left;
  min-height: 40px;
  max-height: 70px;
  height: 70px;
}
.seperate-order .col-xs-5 {
  padding: 0px;
  margin-top: -5px;
}

.veg-img {
  padding: 0px !important;
  float: left;
  top: -5px;
}

.order-names {
  padding: 0px !important;
}

.order-names span {
  font-size: 11px;
  font-family: source serif;
  color: #777;
}

.product-name {
  margin-top: 0px;
}

.product-name span {
  font-size: 12px;
  width: 100%;
  float: left;
}

.product-name strong {
  font-size: 14px;
  font-family: "NeueHaasUnica-Medium";
  float: left;
  color: #4b4a4c;
}

#previewlist .product-name strong {
  font-weight: 500;
  font-family: source serif;
}

.order-price small {
  color: #777 !important;
}

.order-price small:first-child {
  margin-top: 10px;
}

.order-price h4 {
  margin-bottom: 12px;
  margin-top: 3px;
}

/* .loyalty-points img {
  width: 30px;
} */

/* .loyalty-points {
  padding: 10px 10px !important;
} */

/* .loyalty-points span {
  margin-left: 10px;
  color: var(--black);
} */

/* .loyalty-points i {
  float: right;
  color: #777;
  padding-top: 7px;
  font-size: 16px;
} */

.col-xs-12.cart-subtotal {
  padding-left: 2px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .col-xs-12.cart-subtotal {
    padding-left: 10px;
    padding-right: 11px;
  }
}

.order-bill {
  padding: 12px;
}

.item-total h4 {
  color: #777;
  font-family: source serif;
  font-size: 14px;
  padding-bottom: 05px;
  margin-bottom: 0px;
}

/* .taxes_bill {
  border-top: 2px solid #e6e6e6;
  float: left;
  width: 100%;
  padding-top: 15px;
  margin-top: 5px;
}

.taxes_bill h4 {
  color: #777;
  font-family: source serif;
  font-size: 14px;
  padding-bottom: 05px;
  margin-bottom: 0px;
} 

 .total-bill {
  color: #3d8f96;
  border-top: 2px solid #3d8f96;
  padding-top: 15px;
  margin-top: 0px;
  font-size: 24px;
  width: 100%;
  float: left;
} */

.total-bill h4 {
  font-size: 24px;
  font-weight: 600;
}

.col-xs-12 {
  align-items: center;
}
.mapAddress {
  margin-top: 50px;
}
.bbb {
  position: relative;
}

.menu-icon-drawer {
  font-size: 2em;
  margin: 0.8em 0px;
  position: absolute;
  z-index: 999;
}

.carousel-root {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-slider {
  height: 100%;
}

.carousel-root .slider-wrapper,
.carousel-root .slider,
.carousel-root .slide,
.carousel-root .slide > div,
.carousel-root .slide > div > img {
  height: 100%;
}
