input {
  outline: none;
}

select {
  outline: none;
}

:focus {
  outline: none;
}

.recommended-service .owl-dots li {
  display: inline-block;
  height: 3px !important;
  width: 12px !important;
  background-color: #fff !important;
  opacity: 0.8;
  border-radius: 0;
  margin: 0 5px;
}

.recommended-service .owl-dots li.slick-active {
  background-color: #177982 !important;
  width: 30px !important;
}

.recommended-service .owl-dots li button {
  background: none;
  border: none;
  opacity: 0;
}

.carausalImage {
  width: 244px;
  padding:0px 6px;
}

.section-margin {
  margin-bottom: 5%;
}

.modal-opacity {
  opacity: 1 !important;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.signup .modal-dialog {
  top: 3px;
  position: relative;
}

.login .modal-dialog {
  top: 10px;
  position: relative;
}

.otp-verification .form-control:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

#location-disp {
  font-size: 12px;
  width: 76%;
}

.inner-li {
  background-color: #f5f5f6;
  padding: 0% 15%;
}

.Category-tabs .tabs-left > li {
  float: none;
  margin: 18px 0;
  border: 1px solid transparent;
  border-right-color: transparent;
  background: transparent;
  border-radius: 0px;
  cursor: pointer;
}

.Category-tabs .tabs-left > li :hover {
  border-bottom: 2px solid #dc4f37;
  cursor: pointer;
}

.profile-tabs .RRT__tab--selected {
  background-color: transparent !important;
  border-bottom: 2px solid #007881 !important;
  color: #8c8b8d !important;
  position: relative;
  font-family: "Times New Roman";
}

.RRT__tab {
  background: transparent;
  border-bottom: 2px solid #e6e6e6;
  overflow: inherit;
  font-family: "Times New Roman";
  font-size: 18px;
  color: #8c8b8d;
  border-left: none;
  border-top: none;
  border-right: none;
}

.RRT__panel {
  padding: none;
  border: none;
}

.cart-details #quantity {
  padding: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background: transparent;
  border: 1px solid transparent;
}

.pac-item {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.pac-container {
  border-radius: 4px;
  margin-top: 10px;
  z-index: 9999999999;
}

.custom-select {
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  margin: 0;
  height: 27px;
  /* vertical-align: top; */
  position: relative;
  top: -35px;
  font-size: 14px;
 
}

.header-custom-select {
  display: inline-block;
  width: 100%;
  padding: 0 5px;
  margin: 0;
  height: 27px;
  /* vertical-align: top; */
  position: relative;
  top: -35px;
  font-size: 14px;
}
@media(max-width: 767px){
  .header-custom-select {
    height: 0px;
    top: 0px;
  }
}

.category-component .nav-location img {
  width: 32px;
  left: 9px;
  position: relative;
  top: -5px;
  z-index: 1;
}

.search-location .store-select span img {
  width: 28px;
    left: 9px;
    position: relative;
    top: 0;
    z-index: 9;
    left: -1px;
}

.search-location .channel-select span img {
  width: 28px;
  left: -5px;
  position: relative;
  top: 0;
  z-index: 9;
}

.store-select {
  height: 48px;
  vertical-align: top;
}

.channel-select {
  height: 48px;
  vertical-align: top;
}
.arrow-cart {
  width: 0;
  height: 0;
  margin-left: 15px;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #fefefe;
  position: absolute;
  top: -9px;
}
.arrow-profile {
  width: 0;
  height: 0;
  margin-left: 50px;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid #fefefe;
  position: absolute;
  top: -10px;
}

.modal-bodyy {
  width: 100%;
  padding: 20px;
  background: #fff;
}

.product-modal .modal-dialog {
  width: 100%;
  max-width: 500px !important;
}

.price-range {
  padding: 20px;
}

.filter-button {
  background: #dc492f;
  color: #fff;
  width: 50%;
  border: 1px solid #dc492f;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 2px;
  margin-left: 20px;
}

.cart-modal .arrow-profile {
  left: 185px;
}
.cart-modal .cart-subtotal h4{
    padding-left: 0px !important;
}
.cart-modal .modal-dialog {
  top: -12px;
}

.filter-checkbox {
  top: 2px;
  margin-top: 8px;
}

.reset-btn-div {
  text-align: center;
}
.star-icon {

  padding: 1px;
}
.arrow-icon {
  color: #279599;
  padding-right: 2px;
  padding-bottom: 2px;
}
.filter-icon {
 color: #414042;
  margin-left: 10px;
  z-index: 99;
}
.star-icon-inactive {

  color:transparent;
  /* color: transparent; */
}
.arrowHeader .arrowh {
  margin-left: -5px;
}
.arrowHeader span {
  display: inline-block;
}
.arrowHeader:hover span .star-icon-inactive {
  text-decoration: none;
  color: #279599;
  display: inline-block;
  display:none;
}
.star-icon-a {
  margin-left: 5px;
}

.no-product {
  font-size: 20px;
  padding-left: 30px;
}


.Category-tabs .tabs-left > li svg:hover {
  text-decoration: none;
  border: none;
}

.cart-padding {
  padding-left: 10px;
  margin-top: 4px;
}
.cart-details .col-xs-5{
  padding: 0px 7px 0px 0px;
}
.m-hidden {
  display: block;
}

.d-hidden {
  display: none;
}

.inner-li {
  /* margin-left: 8% !important; */
  display: flex;
}

.star-icon-a {
  text-decoration: none !important;
  cursor: pointer;
  color: var(--black);
  font-size: 15px;
}

.star-icon-a:hover {
  color: var(--black);
}

.Substar-icon-a {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none !important;
  cursor: pointer;
  margin-left: 5px;
  color: var(--black);
  font-size: 15px;
    font-family: 'SourceSerifPro-Regular';
}

.Substar-icon-a:hover {
  color: var(--black);
  font-weight: 700;
}
/* .inner-li.active {
  border-bottom: 2px solid #dc4f37;
} */
.inner-li.active a {
  /* border-bottom: 2px solid red; */
  font-weight: bolder;

}

.inner-li.active .Substar-icon-a {
  /* border-bottom: 2px solid #279599; */
  font-weight: bolder;
}

.tabs-left .accordion .card .card-header button:focus {
  outline: none !important;
}

.tabs-left .accordion .card .card-header .btn-link:hover {
  text-decoration: none !important;
}

.tabs-left .accordion .card .card-header .btn-link:focus {
  text-decoration: none !important;
}



.slick-next,
.slick-prev {
  width: 30px;
  height: 30px;
  background: grey;
  z-index: 997;
}

/* .slick-next:hover,
.slick-prev:hover {
  background: #595959;
} */

/* .slick-next:focus,
.slick-prev:focus {
  background: #595959;
} */

.input-range__label {
  font-size: 13px;
  margin: -5px;
}

.cart-subtotal {
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .d-hidden {
    display: block;
  }

  .m-hidden {
    display: none;
  }
}

.SubCategoryIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
    margin-top:2px;
}
.Filter {
  font-family: "NeueHaasUnica-Regular";
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #414042;
    z-index: 999;
}

