.btn-primary {
  background-color: var(--primary-green);
  border-radius: -17%;
  font-weight: bold;
  border: 1px solid var(--primary-green);
}
.btn-primary:hover {
  background-color: var(--primary-green);
  border: none;
  outline: none;
}
.btn-primary:focus {
  background-color: var(--primary-green);
}
.btn-primary:active {
  background-color: var(--primary-green);
}
.btn:disabled {
  background: gray;
  border: none;
}
.btn:disabled:hover {
  background: gray;
  border: none;
}

.margin-vericle-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.pac-container.pac-logo.hdpi {
  z-index: 100001 !important;
}
