.shop-bright-section{
    position: absolute;
    bottom: 120px;
    text-align: center;
    width: 100%;
}
.shop-bright-section span{
    background: #fff;
    padding: 20px 200px;
    font-size: 18px;
    box-shadow: 0px 5px 10px #ddd;
    border-radius: 11px;
    color: #1ba0b5;
    position: absolute;
    bottom: calc(-40 * 0.052vw);
    left: 100px;
}

.shop-service-banner {
    background-image: url(../../assets/images/Shop_Bannernotext01.png);
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 205px;
    position: relative;
}

.shop-logo-display img {
    width: 45%;
    position: relative;
    top: -20px;
}
.shop-login-service {
    float: right;
}
.shop-header li{
    float: left;
    color: #fff;
    list-style: none;
    padding: 05px 10px;
    font-size: 18px;
}
.shop-header li a {
    color: #fff;
}
.shop-header li img{
    width: 23px;
}
.shop-header li button img{
    padding-right: 05px;
    width: 25px;
}
.shop-service-signup{
    background-color: transparent;
    border: 1px solid transparent;
}
.shop-service-signup {
    background: transparent;
    color: #fff;
    border: 1px solid transparent;
    text-transform: capitalize;
    border-radius: 4px;
    letter-spacing: 1px;
}
.shop-search-location h2 {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #fff;
    text-transform: uppercase;
}
.shop-search-location h6{
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
}
.shop-search-location p {
    font-family: 'NeueHaasUnica-Regular';
    margin-bottom: 30px;
    color: #fff;
    font-size: 17px;
    margin-top: 15px;
    width: 400px;
}
.shop-search-location ul li{
    color: #fff;
    list-style: none;
    float: left;
    border-right: 2px solid #fff;
    padding-right: 05px;
    padding-left: 05px;
    font-family: 'NeueHaasUnica-Regular';
}
.shop-search-location ul{
    float: left;
    padding-left: 0px;
}
.shop-search-location ul li:last-child{
    border-right: none;
}
.shop-service-signup{
    background-color: transparent;
    border: 1px solid transparent;
}

.shop-search-location {
    padding-left: 4%;
    margin-top: 0px;
   /* margin-bottom: 50px;*/
}
.shop-searchsee{
    position: absolute;
      float: left;
      color: #fff;
      padding-left: 36px;
      font-size: 16px;
      bottom: -240px;
  }

  .panel-group .panel {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
}
.panel-default > .panel-heading {
	padding: 0;
	outline: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	width: 100%;
	color: blue !important;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border: 1px solid #f0f0f0;
	border-top: none;
	background-color: white
}
.panel-default>.panel-heading{
    background-color: white !important;
}

.panel-heading a {
	font-weight: 400;
	padding: 12px 35px 12px 15px;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	color: #DB0A61;
	position: relative;
	text-decoration: none;
	border: #ECECEC 1px solid;
}
.panel-heading a.collapsed {
	color: #333333;
	background-color: #FAFAFA;
}
.panel-heading a:after {
	font-family: "FontAwesome";
	content: "\f147";
	position: absolute;
	right: 15px;
	font-size: 14px;
	font-weight: 300;
	top: 50%;
	line-height: 1;
	margin-top: -7px;
}
.panel-heading a.collapsed:after {
	content: "\f196";
}
.panel-heading a:hover {
	text-decoration: none;
	background-color: #FFFFFF;
	color: #DB0A61;
}
.panel-title a i {
	padding-right: 10px;
	font-size: 20px;
}

.shop-service-banner1 {
    background-image: url(../../assets/images/BG-01.png);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 48px;
    margin-left: -20px;
    width: 101.3%;
}

.shop-price-tags h4,.shop-price-tags p{
    color: #279397;
}
.shop-price-tags button{
    color: #279397;
}

.shop-rate {
    float: left;
    /* height: 46px;
    padding: 0 10px; */
    margin-top: -34px;
}
.shop-rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.shop-rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.shop-rate:not(:checked) > label:before {
    content: '★ ';
}
.shop-rate > input:checked ~ label {
    color: #ffc700;    
}
.shop-rate:not(:checked) > label:hover,
.shop-rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.shop-rate > input:checked + label:hover,
.shop-rate > input:checked + label:hover ~ label,
.shop-rate > input:checked ~ label:hover,
.shop-rate > input:checked ~ label:hover ~ label,
.shop-rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.shop-basic-product h4{
    color: #000;
    font-weight: 600;
}
.shop-basic-product p{
    color: #000;
}
.shop-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.garden-section{
    width: 100%;
    float: left;
}
.tea-gallery{
    background-color: #dfefef;
    
}
.gardenHgt{
    padding: 15px 15px 38px;
}
.collection-content p{
    text-align: left;
}

@media screen and (max-width:767px){
   
  .gardenHgt{
    height: 700px;
}
    }

    .collection-title{
        text-align: left;
        color: #279397;
        font-weight: 600;
        float: left;
        width: 100%;
    }
    .collection-content{
        color: #279397;
        font-size: 20px;
        font-family: 'NeueHaasUnica-Medium';
        width: 100%;
        float: left;
        text-align: left;
    }

    .seeAllBtn{
        margin-top: 22px;
        padding: 10px;
        float: left;
        text-align: left;
    }

    .seeAllBtn button{
        background-color: #279397;
        width: 180px;
        padding: 10px;
    }

    .gardenImg{
        float: right;
        width: 120%;
        margin-right: -15px;
        height: 320px;
    }