@import "../../../../assets/scss/theme.scss";

@mixin card() {
  background-color: $white;
  border-radius: 10px;
  border: 2px solid #5aadb1;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  float: left;
  // box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%), 0 3px 5px 0 rgb(0 0 0 / 19%);
}

@mixin heading {
  color: #3d8f96 !important;
  font-size: 20px !important;
  font-family: NeueHaasUnica-Medium !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: left;
}

.checkout-container {
  .account-details {
  }
  .category-header {
    background: $gray-background;
    padding: 8px 0;
    border-bottom: 1px solid $border-color;
    padding-top: 20px;
    padding-bottom: 130px;
  }
  
}
@media (max-width: 767px)  {
  .checkout-container{
  .category-header .container {
    padding: 0px;
  }
}
.checkout-container{
  .category-header .col-lg-12{
    padding: 0px;
  }
}
}

.account-container {
  .account {
    &.logged-in {
      border: $primary 1px solid;
    }
    @include card();
  }
}

.delivery-container {
  @include card();
  padding: 20px 0% 20px 0%;
  .delivery-title {
    margin-left: 25px;
    border-radius: 5px;
    // display: flex;
    align-items: center;
    color: $primary;
    margin-bottom: 16px;
    .icon {
  
      svg {
        font-size: 24px;
        color: $primary;
        margin-right: 8px;
      }
    }
    .heading {
      @include heading();
    }
  }
  &.selected {
    border: $primary 1px solid;
  }
  .list {
    // display: flex;
    .add-box {
      width: 300px;
      height: 82.5px;
      padding: 33px;
      margin-top: 25px;
      display: flex;
      align-items: center;
      border-radius: 8.5px;
      border: solid 1.5px $border-color;
      cursor: pointer;
      .text {
        font-family: NeueHaasUnica-Medium !important;
        margin-left: 16px;
        width: 100%;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.66;
        font-size: 13px;
        letter-spacing: normal;
      }
    }
    .card {
      border: 1px solid $border-color;
      height: 200px;
      padding: 16px;
      border-radius: 8.5px;
      margin-top: 25px;
      margin-right: 12px;
      .address-type {
        color: $primary;
        font-size: 1.8rem;
        line-height: 2;
        font-family: 'NeueHaasUnica-Medium';
      }
      .fulladdress {
        font-size: 13px;
        line-height: 1.5;
        font-family: "Times New Roman";
        color:#787878;
        height: 95px;
        overflow: hidden;
      }
      .action {
        margin-top: 5px;
      }
      // :first-of-type {
      //   margin-right: 0px;
      // }
    }
  }
}
.oncursor {
  cursor: pointer;
}
.order-summary-container {
  background-color: $white;
  border-radius: 05px;
  padding: 16px;
  float: left;
  
  .order-title {
    font-size: 24px;
    margin-top: 10px;
    float: left;
    width: 100%;
    font-family: 'NeueHaasUnica-Medium';
     
  } 
   label{
      font-size: 12px;
      font-weight: 500;
      float: right;
       padding-top: 11px;
       color: #5AADB1;
       cursor: pointer;
  }
  label:hover{
   font-weight: 700;
    
}
  .summary-body {
    display: flex;
    flex-wrap: wrap;
    float: left;
    .loyalty-points {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 15px;
      // cursor: pointer;
      // border: 1px solid $border-color;
      // padding: 10px !important;
      // border-radius: 05px;
      // margin: 5px 0px;
      span {
        margin-left: 10px;
        color: $black;
        cursor: pointer;
        i {
          float: right;
          color: $black;
          padding-top: 7px;
          font-size: 16px;
        }
      }
      img {
        width: 30px;
        cursor: pointer;
      }
    }
  }
}

.bill-container {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 22px;
  .product-name {
    margin-top: 0px;
    padding: 0px;
    span {
      font-size: 12px;
      width: 100%;
      float: left;
    }
    strong {
      font-size: 16px;
      font-family: 'NeueHaasUnica-Regular';
    }
  }
  .product-subtotal {
    strong {
      font-size: 14px;
      
    }
  }
  .item-total {
    h4 {
      color: $black;
      font-family: SourceSerifPro-Regular;
      font-size: 14px;
      padding-bottom: 05px;
      margin-bottom: 0px;
    }
  }
  .taxes-bill {
    // border-top: 2px solid #e6e6e6;
    float: left;
    width: 100%;
    padding-top: 6px;
    margin-top: 10px;
    h4 {
      color: $black;
      font-family: SourceSerifPro-Regular;
      font-size: 14px;
      padding-bottom: 05px;
    }
  }

  .total-bill {
    color: $primary;
    border-top: 2px solid $primary;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 0px;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-size: 24px;
      font-weight: 600;
    }
  }
}
@media (max-width: 767px)  {
  .order-summary-container{
  .order-title {
    font-size: 20px;
  }
  label{
    font-size: 15px;
    padding-top: 5px;
    font-family:'SourceSerifPro-Regular' ;
  }
}

.bill-container{
  .product-name{
    // margin-left: 5%;
    strong{
      font-size: 18px;
    }
  }
  .product-subtotal{
    float: right;
    right: -10px;
  }
}
}