@import "../../../../assets/scss/theme.scss";

@mixin card-header() {
  // font-family: NeueHaasUnica-Regular;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  // font-style: italic;
  line-height: 1.2;
  letter-spacing: normal;
  color: $black;
}

.offer-modal-container {
  opacity: 1 !important;

  top: 142px !important;
  .modal-content {
    border-radius: 05px;
    width: 350px;
    position: relative;
    left: 503px;

    border: none;
  }
  #mysignModalLabel {
    color: #171717;
    font-size: 24px;
    font-weight: bold;
    width: 97%;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 5px;
  }
  .modal-body {
    padding: 16px;
    border-radius: 05px !important;
    height: 587px;
    .list-container {
      height: 100%;
      .input-group {
        height: 90px;
        border-bottom: 1px solid $border-color;
        .form-group {
          margin-left: "5%";
          width: 100%;
          margin-right: 10%;
          border: 1px solid $primary;
          margin-top: 14px;
          border: 2px solid $primary;
          border-radius: 8px;
          font-family: SourceSerifPro-Regular;
          position: absolute;
          
          input {
          
            border: none;
            margin: auto 8px;
            height: 20px;
            outline: none !important;
            :focus {
              outline: none !important;
            }
          }
        }
      }
      .heading {
        text-align: center;
        margin-top: 5px;
        @include card-header() // font-size: 16px;
          // font-weight: bold;
          // line-height: 2;
;
      }
      .offer-list {
        .offer-card {
          height: 75px;
          border-bottom: 1px solid $border-color;
          .header {
            @include card-header();
            display: flex;
            justify-content: space-between;
            line-height: 2;
            padding-top: 4px;
            .code {
              font-size: 16px;
              font-weight: bold;
            }
            .button {
              font-size: 16px;
              font-weight: bold;
              cursor: pointer;
              color: $primary;
            }
            .description {
              font-size: 12px;
              font-weight: normal;
            }
          }
        }
        .app-offer {
          height: 75px;
          border-bottom: 1px solid $border-color;
          display: flex;
          align-items: center;
          width: 100%;
          .app {
            width: 30px;
            height: 30px;
            border: 1px dashed $border-color;
            margin: auto;
            margin-right: 10px;
          }
          .offer {
            width: 100%;
            .header {
              display: flex;
              justify-content: space-between;
              line-height: 2;
              padding-top: 4px;
              .code {
                font-size: 16px;
                font-weight: bold;
              }
              .button {
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                color: $primary;
              }
            }
            .description {
              font-size: 12px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

.loyalty-modal-container {
  opacity: 1 !important;
  top: 142px !important;
  .modal-content {
    border-radius: 05px;
    width: 350px;
    position: relative;
    left: 0px;
    align-items: center;
    border: none;
    .loyalty-modal-body {
      text-align: center;
      padding: 16px;
      border-radius: 05px !important;
      height: 100%;
      width: 100%;
      align-items: center;
      .loyalty-modal-image {
        width: 120px;
        height: 120px;
      }
      .loyalty-text {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
  }
  .loyalty-btn-grp {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    .button-cancle button {
      width: 100px;
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #319da3;
      position: relative;
      padding: 3px;
      left: -4px;
      color: #319da3;
      font-size: 14px;
    }
    .button-points button {
      background-color: #319da3;
      text-align: center;
      padding: 3px;
      width: 150px;
      border-radius: 10px;
      border: 2px solid #319da3;
      position: relative;
      left: -4px;
      color: #fff;
      font-size: 14px;
    }
  }
  .loyalty-border {
    margin-top: 5px;
    width: 100%;
    border-bottom: 2px solid $border-color;
  }
}
@media (max-width: 768px) {
  .loyalty-modal-container {
    .modal-content {
      left: 8%;
      width: 85%;
    }
  }

}

.success-modal-container {
  opacity: 1 !important;
  position: absolute;
  top: 142px !important;
  .modal-content {
    border-radius: 05px;
    border: none;
  }
  .modal-body {
    height: 200px;
    width: 400px;
    .content {
      height: 150px;
      text-align: center;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 2;
      .title {
        font-size: 16px;
        font-weight: bold;
      }
      .center {
        font-size: 12px;
        font-weight: normal;
      }
    }
    .footer {
      border-top: 1px solid $border-color;
      text-align: center;
      padding: 5px 0px;
      .button {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}



.payment-modal-container {
  opacity: 1 !important;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  .paycontainer {
    width: 35%;
    vertical-align: middle;
    text-align: center;
    // background-color: red;
  }
  .order-number {
    font-family: NeueHaasUnica-Medium;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.6px;
    margin-bottom: 35px;
    color: #000000;
  }
  .spanText {
    color: #319da3;
  }

  .modal-content {
    border-radius: 05px;
    border: none;
  }
  .content {
    height: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    .title {
      font-family: NeueHaasUnica-regular;
      font-size: 28px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
    }
    .description {
      margin-top: 2%;
      font-family: SourceSerifPro;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.46;
      letter-spacing: normal;
      text-align: center;
      color: #414042;

      padding-bottom: 15px;
    }

    .center {
      font-size: 12px;
      font-weight: normal;
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 0px;
    .button {
      color: $primary;
      width: 150px;
      margin-left: 50px;
      background-color: #319da3;
      border-radius: 10px;
      border: 2px solid #319da3;
      padding: 8px;
      margin-left: 50px;
      color: #fff;
      font-size: 17px;
      font-weight: 500px;
      cursor: pointer;
    }
    .button2{
      color: $primary;
      width: 180px;
      // margin-left: 50px;
      background-color: #319da3;
      border-radius: 10px;
      border: 2px solid #319da3;
      padding: 8px;
      // margin-left: 50px;
      color: #fff;
      font-size: 17px;
      font-weight: 500px;
      cursor: pointer;
    }

    .button1 {
      width: 150px;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #319da3;
      padding: 8px;
      margin-left: 50px;
      color: #319da3;
      font-size: 17px;
    }
  }
}

@media (max-width: 1200px) {
  .payment-modal-container {
    .paycontainer {
      width: 45%;
    }
  }
  }

  @media (max-width: 924px) {
    .payment-modal-container {
      .paycontainer {
        width: 60%;
      }
    }
    }

    @media (max-width: 694px) {
      .payment-modal-container {
        .paycontainer {
          width: 85%;
        }
      }
      }

      @media (max-width: 495px) {
        .payment-modal-container {
          .paycontainer {
            margin-top: 20%;
            width: 95%;
          }
          .order-number {
            font-size: 12px;
          }
          .content{
            .title{
              font-size:18px;
            }
            .description{
              font-size:12px;
            }
          }
          .footer{
            .button{
                width:110px;
                font-size:12px;
            }
            .button2{
              width:140px;
              font-size:12px;
          }

            .button1{
              width:100px;
              font-size:12px;
              margin-left: 0;
            }
          }
          
        }
        }
    

  